<!DOCTYPE html>
<html>
    <head>
        <title>Bloggger</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="jumbotron">
            <div id="d1">
                <h1><%=newBlog.name %></h1>
            </div>
            <div id="d2">
                <div>
                    <h3>Written By : <%=newBlog.author %></h3>
                </div>
                <div>
                    <h5>Date : <%=Date().toString() %></h5>
                </div>
            </div>
            <div id="d3">
                <p><%=newBlog.desc %></p>
            </div>
        </div>
    </body>
</html>





